
@import url("fonts.css");

body{
	background-image: url('../images/aud.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}


 /*HEADER*/
 header {
   position: relative;
   height: 800px;
   min-height: 500px;
   width: 100%;
   background: #161415 url(../images/A.jpg) no-repeat top center;
   background-size: cover;
	-webkit-background-size: cover;
   text-align: center;
   overflow: hidden;
}
header:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   height: 100%;
}
header .banner {
   position: absolute;
   top: 250px;
   left: 10px;
   width: 85%;
   padding-bottom: 30px;
   text-align: center;
}

header .banner-text { width: 100%; }
header .banner-text h1 {
   font: 90px/1.1em 'opensans-bold', sans-serif;
   color: #fff;
   letter-spacing: -2px;
   margin: 0 auto 18px auto;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}

h1{
	color: white;
	font: bold 45px Helvetica, Sans-Serif;
	letter-spacing: -1px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7);
	padding: 10px;
}
header .banner-text h3 {
   font: 30px 'librebaskerville-regular', serif;
   color: #A8A8A8;
   margin: 0 auto;
   width: 70%;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
header .banner-text h3 span,
header .banner-text h3 a {
   color: #fff;
}
header .banner-text hr {
   width: 60%;
   margin: 18px auto 24px auto;
   border-color: #2F2D2E;
   border-color: rgba(150, 150, 150, .1);
}
header .scrolldown a {
   position: absolute;
   bottom: 30px;
   left: 50%;
   margin-left: -29px;
   display: block;
   height: 42px;
   width: 42px;
   font-size: 42px;
   line-height: 42px;
   color: #313131;
   border-radius: 100%;

   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}
header .scrolldown a:hover { color: #11ABB0; }
/*END HEADER*/

/*NAVIGATION*/
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	 margin: 0;
	 padding: 0;
	 border: none;
	 outline: none;
}
#nav-wrap {
   font: 12px 'opensans-bold', sans-serif;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 30px;
}
.opaque { background-color: #333; }
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
   min-height: 48px;
   width: auto;

   /* center align the menu */
   text-align: center;
}
ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
}

/* Links */
ul#nav li a {
	display: inline-block;
   padding: 8px 13px;
   line-height: 32px;
	text-decoration: none;
   text-align: left;
   color: #7f7f7f;

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}


/*ABOUT SECTION*/
#about {
   background: #2B2B2B;
   padding-top: 96px;
   padding-bottom: 66px;
   overflow: hidden;
}
#about a, #about a:visited  { color: #fff; }
#about a:hover, #about a:focus { color: #11ABB0; }

#about h2 {
   font: 22px/30px 'opensans-bold', sans-serif;
   color: #fff;
   margin-bottom: 12px;
}
#about p {
   line-height: 30px;
   color: #7A7A7A;
}
#about .dp {
   position: relative;
   width: 120px;
   height: 120px;
   border-radius: 100%;
}
#about .contact-details { 
	width: 41.66667%; 
}
#about .download {
   width: 58.33333%;
   padding-top: 6px;
}
#about .main-col { 
	padding-right: 5%; 
}

p { 
	margin: 0 0 30px 0; 
}


/*#container {
	margin: auto;
	margin-bottom: 50px;
	position: relative;
	width: 1024px;
	height: 1436px;
	top: 50px;
	background-color: rgba(255,255,255,.3);
	padding: 10px;
}
/*#about{
	position: absolute;
	left: 320px;
	top: 10px;
	width: 713px;
	height: 425px;
	background-color: rgba(255,255,255,.8);
}
.Aboutme{
	position: absolute;
	top: 10px;
	left: 70px;
	font-family: Arial;
	font-size: 2em;
	color: black;

}
.description{
	position: absolute;
	width: 583px;
	height: 90px;
	top: 50px;
	left: 65px;
	font-family: Arial;
	
}
.desc{
	position: absolute;
	top: 5px;
	left: 10px;
	color: rgb(124,124,124);
	font-size: 1em;
	border-bottom: solid rgb(124,124,124);
}
.information{
	position: absolute;
	top: 10px;
	width: 300px;
	height: 170px;
	font-family: Arial;
	text-shadow: 0px 2px 5px black;
	color: white;
	box-shadow: 0px 2px 5px black;
}
.info1{
	position: absolute;
	width: 200px;
	left: 20px;
	top: 30px;
	font-size: 1.2em;
}
.height{
	position: absolute;
	width: 200px;
	left: 20px;
	top: 55px;
}
.info2{
	position: absolute;
	width: 200px;
	left: 20px;
	top: 90px;
	font-size: 1.2em;
}
.weight{
	position: absolute;
	width: 200px;
	left: 20px;
	top: 110px;
}
.info3{
	position: absolute;
	width: 200px;
	right: 1px;
	top: 30px;
	font-size: 1.2em;
}
.age{
	position: absolute;
	width: 200px;
	right: 1px;
	top: 55px;
}
.info4{
	position: absolute;
	width: 200px;
	right: 1px;
	top: 90px;
}
.voice{
	position: absolute;
	width: 200px;
	right: 1px;
	top: 110px;
}
.Myaddress{
	position: absolute;
	top: 180px;
	width: 300px;
	height: 170px;
	font-family: Arial;
	text-shadow: 0px 2px 5px black;
	color: white;
	box-shadow: 0px 2px 5px black;
}
.myaddress{
	position: absolute;
	width: 200px;
	left: 20px;
	top: 10px;
	font-size: 1.1em;
}
.myaddress1{
	position: absolute;
	width: 200px;
	left: 20px;
	top: 70px;
}
/*
#educ{
	position: absolute;
	left: 770px;
	top: 520px;
	width: 710px;
	height: 500px;
	box-shadow: 0px 5px 10px black;
	background-color: rgba(255,255,255,.8);
}
.Ehead{
	position: absolute;
	top:10px;
	left: 10px;
}
.Etitle{
	position: absolute;
	top: 10px;
	left: 200px;
	font-family: Arial;
	font-size: 2em;
	color: rgb(124,124,124);
}
.education{
	position: absolute;
	width: 583px;
	height: 90px;
	top: 80px;
	left: 75px;
	font-family: Arial;
	border-bottom: solid rgb(124,124,124);
}
.school{
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 1.3em;
}
.school a{
	color: rgb(124,124,124);
	text-decoration: none;
}
.school:hover a{
	color: rgb(192,2,1);
	text-decoration:none; 
}
.date{
	position: absolute;
	top: 40px;
	left: 10px;
	color: rgb(192,2,1);
}
.address{
	position: absolute;
	top:60px;
	left: 10px;
}
.education1{
	position: absolute;
	width: 583px;
	height: 90px;
	top: 175px;
	left: 75px;
	font-family: Arial;
	border-bottom: solid rgb(124,124,124);
}
.school1{
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 1.3em;
}
.school1 a{
	color: rgb(124,124,124);
	text-decoration: none;
}
.school1:hover a{
	color: rgb(192,2,1);
	text-decoration: none;
}
.date1{
	position: absolute;
	top: 40px;
	left: 10px;
	color: rgb(192,2,1);
}
.address1{
	position: absolute;
	top: 60px;
	left: 10px;
}

.education2{
	position: absolute;
	width: 583px;
	height: 90px;
	top: 265px;
	left: 75px;
	font-family: Arial;
	border-bottom: solid rgb(124,124,124);
}
.school2{
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 1.3em;
}
.school2 a{
	color: rgb(124,124,124);
	text-decoration: none;
}
.school2:hover a{
	color: rgb(192,2,1);
	text-decoration: none;
}
.date2{
	position: absolute;
	top: 40px;
	left: 10px;
	color: rgb(192,2,1);
}
.address2{
	position: absolute;
	top: 60px;
	left: 10px;
}

.education3{
	position: absolute;
	width: 583px;
	height: 90px;
	top: 350px;
	left: 75px;
	font-family: Arial;
	border-bottom: solid rgb(124,124,124);
}
.school3{
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 1.3em;
}
.school3 a{
	color: rgb(124,124,124);
	text-decoration: none;
}
.school3:hover a{
	color: rgb(192,2,1);
	text-decoration: none;
}
.date3{
	position: absolute;
	top: 40px;
	left: 10px;
	color: rgb(192,2,1);
}
.address3{
	position: absolute;
	top: 60px;
	left: 10px;
}

header .banner {
   display: inline-block;
   vertical-align: middle;
   margin: 0 auto;
   width: 85%;
   padding-bottom: 30px;s
   text-align: center;
}

*/

