
body{
	background-image: url('../images/A.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

.profile{
	position: static;
	width: 1000%;
	padding: 20px;
}
h2{
	position: absolute;
	top: 200px;
	left: 0;
	width: 100%;
}

h2 span{
	color: white;
	font: bold 45px Helvetica, Sans-Serif;
	letter-spacing: -1px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7);
	padding: 10px;
}

#container {
	position: absolute;
	left: 320px;
	top: 10px;
	width: 713px;
	height: 425px;
	box-shadow: 0px 5px 10px black;
	background-color: rgba(255,255,255,.8);
	opacity: 0.2;
}
.About{
	position: relative;
	top: 50px;
	left: 10px;
}
.Aboutme{
	position: absolute;
	top: 10px;
	left: 130px;
	font-family: Arial;
	font-size: 2em;
	color: black;
	text-shadow: 2px 2px black;

}
.description{
	position: absolute;
	width: 583px;
	height: 90px;
	top: 125px;
	left: 130px;
	font-family: Arial;
	border-bottom: solid rgb(124,124,124);
}
.desc{
	position: absolute;
	top: 10px;
	left: 10px;
	color: rgb(124,124,124);
	font-size: 1.3em;
}
/*
#logo {
	width: 500px;
	height: 500px;

}
#hlogo	{
		z-index:	-10;
}


#hhome {
	background-color: red;

}*/
/*
.Menu{
	width: 500px;
	height: 500px;
	margin-top: 100px;
	margin-left: 750px;
}

.Menu a{
	background-color: #eee;
	color: black;
	display: block;
	padding: 15px;
	text-decoration: none;
	border: 1px solid black;
	text-align: center;

}

.Menu a: hover{
	background-color: #ccc;
}
*/